*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}
li{
    padding: 5px;
}
.container{
display: inline-flex;
max-width: 1200px;
    justify-content: center;
    margin: 20px 50px;
    margin-right: 50px;
}
.col{
    flex: 1;
	margin-left: 10px;
	padding: 20px 50px;
    
}
.content-3{
    display: inline-flex;
}
.colum{
    width: 100%;
    flex: 1;
	margin: 2px;
	padding: 10px;
	
}

